Repository Robot-Hockey/Puck-API, pull requests merged in 2019-09, with the labels that each got.

#8 Create table Card, Transaction, Client
  app/controllers/cards_controller.rb
  app/controllers/clients_controller.rb
  app/controllers/transactions_controller.rb
  app/models/card.rb
  app/models/client.rb
  app/models/transaction.rb
  config/routes.rb
  db/migrate/20190901201118_create_cards.rb
  db/migrate/20190901201428_create_clients.rb
  db/migrate/20190901201556_create_transactions.rb
  db/migrate/20190901201922_add_card_id_to_transaction.rb
  db/migrate/20190901202120_add_client_id_to_card.rb
  db/schema.rb
  test/controllers/cards_controller_test.rb
  test/controllers/clients_controller_test.rb
  test/controllers/transactions_controller_test.rb
  test/fixtures/cards.yml
  test/fixtures/clients.yml
  test/fixtures/transactions.yml
  test/models/card_test.rb
  test/models/client_test.rb
  test/models/transaction_test.rb
Labels: database

#10 Users routes to CRUD
  app/controllers/authentication_controller.rb
  app/controllers/users_controller.rb
  config/routes.rb
Labels: auth, login

#15 Change authentication route to login
  config/routes.rb
Labels: auth, login, route

#17 Adds seeds with company and user
  db/seeds.rb
Labels: database, good first issue, model, seed
